.nurse-col--right
  min-width: 360px
  min-width: 30.5%
  background-color: #FFFFFF
  padding-top: 40px
  padding-bottom: 57px

  +laptop
    min-width: 32.5%
    padding-top: 5px
    +border-radius-bl(30px)
    +border-radius-tl(30px)

  +ipad
    width: 100%
    min-width: unset
    padding: 0px
    background-color: transparent

  .nurse-col__in
    +scrolled(620px)
    padding-right: 6px
    padding-left: 11px
    padding-top: 10px
    //padding-bottom: 10px
    margin-right: 30px
    +laptop
      padding-right: 3px
      padding-left: 9px
      margin-right: 10px
    +ipad
      padding: 0px
      margin: 0px
      overflow: unset
      height: auto
      max-height: unset