@font-face
	font-family: "FuturaPT"
	font-style: normal
	font-weight: normal
	src: local('FuturaPT-Medium'), url("../fonts/FuturaPT/FuturaPT-Medium.woff") format("woff"), url("../fonts/FuturaPT/FuturaPT-Medium.woff2") format("woff2"), url("../fonts/FuturaPT/FuturaPT-Medium.ttf") format("ttf"), url("../fonts/FuturaPT/FuturaPT-Medium.eot") format("eot")

@font-face
	font-family: "TerminalDosis"
	font-style: normal
	font-weight: normal
	src: local('TerminalDosis-Light'), url("../fonts/TerminalDosis/TerminalDosis-Light.woff") format("woff"), url("../fonts/TerminalDosis/TerminalDosis-Light.woff2") format("woff2"), url("../fonts/TerminalDosis/TerminalDosis-Light.ttf") format("ttf"), url("../fonts/TerminalDosis/TerminalDosis-Light.eot") format("eot")

@font-face
	font-family: "FuturaPT-Book"
	font-style: normal
	font-weight: normal
	src: local('futura-pt-book'), url("../fonts/FuturaPT-Book/futura-pt-book.woff") format("woff"), url("../fonts/FuturaPT-Book/futura-pt-book.woff2") format("woff2"), url("../fonts/FuturaPT-Book/futura-pt-book.ttf") format("ttf"), url("../fonts/FuturaPT-Book/futura-pt-book.eot") format("eot")

@font-face
	font-family: "FuturaPT-Demi"
	font-style: normal
	font-weight: normal
	src: local('futura-pt-book'), url("../fonts/FuturaPT-Demi/futura-pt-demi.woff") format("woff"), url("../fonts/FuturaPT-Demi/futura-pt-demi.woff2") format("woff2"), url("../fonts/FuturaPT-Demi/futura-pt-demi.ttf") format("ttf"), url("../fonts/FuturaPT-Demi/futura-pt-demi.eot") format("eot")

@font-face
	font-family: "Roboto-Medium"
	font-style: normal
	font-weight: normal
	src: local('Roboto-Medium'), url("../fonts/Roboto-Medium/Roboto-Medium.woff") format("woff"), url("../fonts/Roboto-Medium/Roboto-Medium.woff2") format("woff2"), url("../fonts/Roboto-Medium/Roboto-Medium.ttf") format("ttf"), url("../fonts/Roboto-Medium/Roboto-Medium.eot") format("eot")
